In [4]:
print("Hello, world!")

Hello, world!

# Data Types

In [10]:
# a string is either double quotes or single quotes
test = "hello"

print(test)
type(test)

hello

str

In [18]:
# numeric types come in two forms 

# integer
number = 10
# float 
floaty = 5.4

number + floaty # similar types will behave in sync with each other

15.4

In [19]:
# you can concatenate two strings together 
test + test

'hellohello'

In [23]:
# floor division (round to the nearest integer)
number // floaty

1.0

In [22]:
# modulo returns the remainder (useful for checking if a number is even or odd)
number % floaty

4.6

In [24]:
# you can multiply strings 
"foo" * 10

'foofoofoofoofoofoofoofoofoofoo'

## Python Collections

In [7]:
# lists: ordered collection of the same or different types of data
my_list = [1, "2", 3.0, "hi", "hehe"]
print(my_list)

[1, '2', 3.0, 'hi', 'hehe']

In [8]:
# subset lists
print(my_list[2])

3.0

In [10]:
print(my_list[-2])

hi

In [15]:
# dictionary
my_dict = {"a": "anaconda", "b": "baboon", "c": "cat"}
print("i love my", my_dict["c"], "<3")

i love my cat <3

In [1]:
# run command line in notebook
! ls

LICENSE  README.md  assets  data  hello.ipynb

In [2]:
! unzip data/portal-teachingdb-master.zip

Archive:  data/portal-teachingdb-master.zip
   creating: portal-teachingdb-master/
  inflating: portal-teachingdb-master/surveys2001.csv
  inflating: portal-teachingdb-master/surveys2002.csv
  inflating: portal-teachingdb-master/speciesSubset.csv
  inflating: portal-teachingdb-master/bouldercreek_09_2013.txt
  inflating: portal-teachingdb-master/species.csv
  inflating: portal-teachingdb-master/surveys.csv
  inflating: portal-teachingdb-master/portal_mammals.sqlite
  inflating: portal-teachingdb-master/README.txt
  inflating: portal-teachingdb-master/plots.csv

In [3]:
# import pandas package as an alias
import pandas as pd

In [4]:
surveys = pd.read_csv("portal-teachingdb-master/surveys.csv")

In [10]:
surveys.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN